#background_color {
    background-color: white;
    position: relative;
    z-index:999;
}

#button-align {
    display: flex;
    justify-content: flex-end;
}

.imageBox{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

a{
    display: block;
    width: 100%;
}