* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

/*
member 메인
*/
.white-round-top {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;
}

.white-round-bottom {
    border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -ms-border-radius: 0 0 15px 15px;
    -o-border-radius: 0 0 15px 15px;
}

.white-round-all {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.main-content {
    padding: 20px;
}

.hidden {
    display: none;
}



/*
내 정보, 정보 수정
*/

#profile-img {
    text-align: center;
    margin: 30px;
}

#profile-img img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

#profile-img div {
    font-size: 1.5em;
}

.content-center {
    margin: 30px auto;
    text-align: center;
}

.content-center .button, #profile-img .button {
    width: 150px;
    margin: 0 10px;
    color: #777;
    border-color: #ddd;
    }

.content-center .button:hover, #profile-img .button:hover {
    background-color: #eee;
    border-color: #ddd;
}

.content-center .button-submit {    
    width: 150px;
    margin: 0 10px;
    box-shadow: none;
}

.content-center .button-submit:hover {
    box-shadow: none;
}

#profile-info {
    width: 450px;
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
}

#profile-info>* {
    margin: 10px 0;
}

#profile-info input[type=text],#profile-info textarea  {
    width: 100%;
    padding: 15px;
}

/* 내 정보 list */
.dl-dt-dd {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    display:flex;
    justify-content: flex-start;
}

.dl-dt-dd dt {
    width: 100px;
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
}

.dl-dt-dd dd {
    width: calc( 100% - 100px );
    margin-left: 10px;
}